.logo-icon {
  width: 85px;
  height: 18px;
  @include media-breakpoint-up(lg){
      width: 190px;
      height: 40px;
  }
}

.menu {
  .nav-link {
    &:hover {
      color: $white;
      background-color: $secondary;
      border: 1px solid $primary;
      margin: -1px; //作為清除border產生1px的推擠
      @include media-breakpoint-up(lg) {
        color: $secondary;
        background-color: transparent; //移除背景色
        border: 0; //移除border
        margin: 0px; //將margin歸0
      }
    }
  }
}

.navbar {
  // &-line {
  //     top: 52px;
  //     @include media-breakpoint-up(lg) {
  //         top: 104px;
  //     }
  // }

  // .fa-solid {
  //     width: 18px;
  // }

  &-search-bar {
    position: absolute;
    top: 0;
    z-index: 1;
    .form-control {
        font-size: $font-size-base * 0.875;
    }
  }

  &-search-input {
    min-width: 288px;
  }
}

.bg {
  &-lg {
    @include media-breakpoint-up(lg) {
      &-transparent {
        background-color: transparent !important; //移除背景色
      }
    }
  }
}