// 推薦系列
.recommend-img {
  height: 238px;

  @include media-breakpoint-up(md) {
    height: 372px;
  }

  @include media-breakpoint-up(lg) {
    height: 340px;
  }

  &-big {
    height: 238px;

    @include media-breakpoint-up(md) {
      height: 372px;
    }

    @include media-breakpoint-up(lg) {
      height: 500px;
    }
  }
}

// 市價排行榜
.ranking {
  &-num {
    @include media-breakpoint-up(md) {
      position: absolute;
      width: 64px;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  &-img {
    width: 87px;
    height: 95px;

    &-big {
      @include media-breakpoint-up(md) {
        width: 414px;
        height: 374px;
      }
    }
  }
}

//按鈕的三角形顏色
.btn-triangle {
  &-primary {
    @include triangle-bottom-right (16px, $primary);
  }

  &-secondary {
    @include triangle-bottom-right (16px,$secondary);
  }
}

//按鈕 hover 效果
.hover-btn {

  //按鈕hover的背景色
  &-bg {
    &-primary {
      &:hover {
        color: $white;
        background-color: $primary  !important;
      }
    }

    &-secondary {
      &:hover {
        color: $white;
        background-color: $secondary  !important;
      }
    }
  }

  //右下角三角形 hover顏色
  &-triangle {
    &-primary {
      &:hover {
        &::after {
          border-right: 16px solid $primary;
        }
      }
    }

    &-secondary {
      &:hover {
        &::after {
          border-right: 16px solid $secondary;
        }
      }
    }
  }

  //按鈕 hover 外框顏色
  &-border {
    &:hover {
      border: 1px solid $primary;
    }
  }
}

// 圖片hover(大)
.hover-img-big {
  position: relative;

  .btn-more {
    display: none;
    right: 0;
    bottom: 0;
  }

  &:hover {
    &::after {
      @include img-pseudo ('', $primary, $white);
    }

    .btn-more {
      display: block;
      z-index: 1;
    }
  }
}

// 圖片hover(小)
.hover-img-small {
  position: relative;

  .triangle {
    display: none;
  }

  &:hover {
    &::after {
      @include img-pseudo ('more', $primary, $white);
    }

    .triangle {
      display: block;
      z-index: 1;
    }
  }
}

// 熱門藝術家
.artist {
  &-img {
    height: 232px;

    @include media-breakpoint-up(md) {
      height: 439px;
    }
  }

  &-name {
    top: 24px;
    left: 24px;
  }

  &-introduce {
    @include media-breakpoint-up(lg) {
      width: 304px;
      position: absolute;
      bottom: 24px;
      left: 24px;
    }
  }

  &-btn {
    right: 8px;
    bottom: 8px;

    @include media-breakpoint-up(lg) {
      right: 24px;
      bottom: 24px;
    }
  }
}

// Swiper (參考同學寫法)
.swiper-artist {

  //正中間圖片
  .swiper-slide {
    &-active {
      @include media-breakpoint-up(xl) {
        width: 636px !important;
        height: 439px !important;

        &-name,
        &-btn,
        &-introduce {
          display: block;
        }
      }
    }

    //前、後區塊
    &-prev,
    &-next {
      @include media-breakpoint-up(xl) {
        width: 306px !important;
        height: 262px !important;

        .artist {
          &-img {
            height: 262px;
            filter: grayscale(100%); //灰階處理
          }

          &-name,
          &-btn,
          &-introduce {
            display: none;
          }
        }
      }
    }
  }
}

// Swiper pagination
.swiper-pagination {
  position: unset;

  &-bullet {
    background-color: $primary;
    border-radius: 0%;
    opacity: 1;

    &-active {
      background-color: $secondary;
      width: 16px;
    }
  }
}

// artwork 圖片hover效果
.hover-img-artwork {
  position: relative;
  .info {
    display: none;
    width: calc(100% - 64px);
    top: 32px;
    left: 32px;
  }
  .btn-more {
    display: none;
    right: 32px;
    bottom: 32px;
  }

  &:hover {
    &::before {
      @include img-pseudo ('', $primary, $white);
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 16px;
      border: 1px solid $white;
    }
    .info {
      display: inline-block;
      z-index: 1;
    }
    .btn-more {
      display: block;
      z-index: 1;
    }
  }
}