// 文字size
@mixin font-size {
  &-max {
    font-size: $font-size-base * 5 !important;  //80px
  }
  &-1 {
    font-size: $h1-font-size !important;  //48px
  }
  &-lg {
    font-size: $font-size-base * 2.5 !important; //40px
  }
  &-2 {
    font-size: $h2-font-size !important;  //32px
  }
  &-3 {
    font-size: $h3-font-size !important;  //24px
  }
  &-4 {
    font-size: $h4-font-size !important;  //20px
  }
  &-5 {
    font-size: $h5-font-size !important;  //18px
  }
  &-6 {
    font-size: $h6-font-size !important;  //16px
  }
  &-7 {
    font-size: $font-size-base * 0.875 !important;  //14px
  }
}

@mixin size($width, $height:$width) {
  width: $width;
  height: $height;
}

//三角形區塊
@mixin triangle ($color) {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    border-top: 16px solid transparent;
    border-right: 16px solid $color;
    bottom: 0;
    right: 0;
  }
}

//圖片偽元素
@mixin img-pseudo ($content, $bg-color, $color) {
  content: $content;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
  opacity: 0.6;
  color: $color;
}
