// 文字size
@mixin font-size {
  &-1 {
    font-size: $h1-font-size !important;  //48px
  }
  &-2 {
    font-size: $h2-font-size !important;  //32px
  }
  &-3 {
    font-size: $h3-font-size !important;  //24px
  }
  &-4 {
    font-size: $h4-font-size !important;  //20px
  }
  &-5 {
    font-size: $h5-font-size !important;  //18px
  }
  &-6 {
    font-size: $h6-font-size !important;  //16px
  }
  &-7 {
    font-size: $font-size-base * 0.875 !important;  //14px
  }
}