//容器寬度
.container {
  max-width: 1320px;  //含左、右各padding 12px
}
//文字-字體
.ff-NotoSansTC {
  font-family: 'Noto Sans TC', sans-serif;
}
.ff-PaytoneOne {
  font-family: 'Paytone One', sans-serif;
}
//文字-大小
.fs {
  @include font-size;
  @include media-breakpoint-up(sm) {
    &-sm {
      @include font-size;
    }
  }
  @include media-breakpoint-up(md) {
    &-md {
      @include font-size;
    }
  }
  @include media-breakpoint-up(lg) {
    &-lg {
      @include font-size;
    }
  }
  @include media-breakpoint-up(xl) {
    &-xl {
      @include font-size;
    }
  }
}
//文字-粗體
.fw-lg-bold {
  @include media-breakpoint-up(lg) {
    font-weight: bold;
  }
}
//文字-垂直書寫
.write-vertical {
  writing-mode: vertical-lr;
}

//邊框
.border {
  @include media-breakpoint-up(md) {
    &-md {
      &-1 {
        border: 1px solid $primary !important;
      }
      &-top {
        &-0 {
          border-top: 0 !important;
        }
        &-1 {
          border-top: 1px solid $primary !important;
        }
      }
      &-bottom {
        &-0 {
          border-bottom: 0 !important;
        }
        &-1 {
          border-bottom: 1px solid $primary !important;
        }
      }
      &-start {
        &-0 {
          border-left: 0 !important;
        }
        &-1 {
          border-left: 1px solid $primary !important;
        }
      }
      &-end {
        &-0 {
          border-right: 0 !important;
        }
        &-1 {
          border-right: 1px solid $primary !important;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &-lg {
      &-1 {
        border: 1px solid $primary !important;
      }
      &-top {
        &-0 {
          border-top: 0 !important;
        }
        &-1 {
          border-top: 1px solid $primary !important;
        }
      }
      &-bottom {
        &-0 {
          border-bottom: 0 !important;
        }
        &-1 {
          border-bottom: 1px solid $primary !important;
        }
      }
      &-start {
        &-1 {
          border-left: 1px solid $primary !important;
        }
      }
      &-end {
        &-1 {
          border-right: 1px solid $primary !important;
        }
      }
    }
  }
}

/*Hover 效果*/
.hover-link-text-secondary {
  &:hover {
    color: $secondary !important;
  }
}

//背景透明度
.bg-opacity-white {
  --bs-bg-opacity: 0.8;
  background-color: rgba(($white), var(--bs-bg-opacity)) !important;
}